*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nav-links {
  display: none;
  flex-direction: column;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.hero {
  height: 80vh;
  padding: 20px;
  text-align: center;
}

.hero h1 {
  font-size: clamp(26px, 6vw, 48px);
}

@media (min-width: 768px) {
  .hero {
    padding: 80px;
  }
}
.footer{
 padding: 10px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.footer h6{
  font-size: clamp(26px, 6vw, 48px);
  color: black;
}

