body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
position: fixed;
top: 0;
width: 100%;
background: black;
color: white;
padding: 15px;
border-radius: 10px;
}

    .section {
    margin-top: 80px;
    padding: 20px;
    height: 200px;
    
    border: 5px solid #ccc;
    border-radius: 10px;
}
