.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ball {
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  position: relative;
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0%   { top: 0; }
  50%  { top: 200px; }
  100% { top: 0; }
}
